@font-face {
    font-family: DM Sans;
    src: url(../font-family/DMSans-Regular.ttf);
}
@font-face {
    font-family: Rosario;
    src: url(../font-family/Rosario.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.header__inner{
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    color: #222222;
    margin-right: 40px;
}
.menu li a:nth-child(3){
    margin-right: 0px;
}
.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}
.icon{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.icon__cart{
    
}
.Btn_regestar{
    margin: 0;
    padding: 0;
    border: none;
    background: #09A66D;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    width: 160px;
    height: 40px;
}
.search__icon{
    padding-right: 40px;
    color:  #222222;
    font-size: 27px;
}
.search__cart{
    padding-right: 50px;
    color:  #222222;
    font-size: 27px;
    font-weight: normal;
}
.organic__fruit{
    height: 850px;
    background-color: #F3FBF8;
    background:url(../img/bc.png);
    background-size: contain;
}
.organic__fruit__inner{
    padding-top: 93px;

}
.titleh1{
    margin: 0;
    padding: 0;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    width: 783px;
    height: 90px;
    margin: 0 auto;
    margin-bottom:20px;
}
.text__title{
    margin: 0;
    padding: 0;
    width: 637.01px;
    height: 90px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    color: #555555;
    text-align: center;
}
.order{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.order__text{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
    padding-right: 20px;
}
.arrow{
    width: 58px;
    height: 58px;
    border: 2px solid #09A66D;
    background-color: #09A66D;
    font-size: 25px;
    color: #fff;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 15px 0;
    font-weight: normal;
}
.arrow:hover{
    background-color: #fff;
    color:#09A66D;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


}
.item {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    width: 250px;
    height: 116px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.item:nth-child(3){
    margin-bottom: 40px;
}
.item:nth-child(1){
    margin-top: -20px;
}
.item svg {
    margin-right: 30px;
}
.fa-user-circle-o {
}
.info__item {
}
.number {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}
.user__order {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.the__best{
    height: 1065px;
}
.title__best{
    margin: 0;
    padding: 0;
    margin-top: 140px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
.text__best{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    width: 637px;
}
.text_item_best{
    
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.item__best{
    display: flex;
    background-color: #09A66D0D;
    align-items:center ;
    width: 500px;
    height: 160px;
    justify-content: center;
}
.item__best .fa{
    width: 58px;
    height: 58px;
    border: 2px solid #09A66D;
    background-color: #09A66D;
    font-size: 25px;
    color: #fff;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin: 15px 0;
    font-weight: normal;
    margin-right: 24px;
}
.item__best .fa:hover{
    background-color: #fff;
    color:#09A66D;
}
.title__item__text {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222222;
}

.text__item__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    width: 277px;
    margin: 0 auto;
}
.item__best__2{
    display: flex;
    align-items:center ;
    width: 500px;
    height: 160px;
    justify-content: center;
}
.the__best_inner:nth-child(2){
    background-color: #fff ;
}
.svg__arrow{
    text-align: center ;
    width: 500px;
    margin-top: 51px;
    padding-bottom: 146px;
}
.special__items{
    height: 832px;
    background-color: #09A66D0D;
    border: 2px red solid;
}
.special_items_inner{
    display: flex;
}
.items__special_items{
    display: flex;
    align-items:flex-start ;
}
.title__special_items{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    margin: 0;
    padding: 0;
    padding-top: 120px;
}
.text_special_items{
    padding-left: 50px;
}
.text__special_items{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    padding-top: 20px;
}
.text__items_special_items{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222222;
}
.image_special_items{
    padding-top: 88px;
}
.sec__img_special_items img{
    background-blend-mode: darken;
    height: 395px;
    width: 400px;
    margin: 0;
    padding: 0;
    padding-left: 47px;
}
.with__img__special__items{
    display: flex;
}


.psasodk{
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
    padding-right: 20px;
}

.customers__about{
    height: 1423px;
}
.title__text__customer__about
{   margin: 0;
    padding: 0;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    padding-top: 96px;
    width: 640px;
}
.text__text__customer__about{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555; 
    width: 586px;
    padding-top: 30px;
}
.image__customer__about img{
    margin: 0;
    padding: 0;
    margin-top: 137px;
    margin-left: 153px;
    width: 500px;
    height: 500px;
    background-color: #F3FBF8;
    font-size: 25px;
    color: #fff;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.customers__about__inner{
    display: flex;
}
.stars {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.stars .button{
    display: flex;
    
}
.name__text__customer__about{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    padding-top: 40px;
}
.star{
    padding-right: 200px;
}
.btn1{
   margin-left: 25px;
}
.simple__way{
    display: flex;
}
.download__app{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    background-color: #F3FBF8;
    border-radius: 50px;
    width: 170px;
    height: 40px;
    
}
.title__simple__way{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
.text__simlpe__way{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}