@font-face {
    font-family: DM Sans;
    src: url(../font-family/DMSans-Regular.ttf);
}
@font-face {
    font-family: Rosario;
    src: url(../font-family/Rosario.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
.header__inner{
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    color: #222222;
    margin-right: 40px;
}
.menu li a:nth-child(3){
    margin-right: 0px;
}
.menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}
.icon{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.icon__cart{
    
}
.Btn_regestar{
    margin: 0;
    padding: 0;
    border: none;
    background: #09A66D;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    width: 160px;
    height: 40px;
}
.search__icon{
    padding-right: 40px;
    color:  #222222;
    font-size: 27px;
}
.search__cart{
    padding-right: 50px;
    color:  #222222;
    font-size: 27px;
    font-weight: normal;
}
.organic__fruit{
    height: 850px;
    background-color: #F3FBF8;
    background:url(../img/bc.png);
    background-size: contain;
}
.organic__fruit__inner{
    padding-top: 93px;

}
.titleh1{
    margin: 0;
    padding: 0;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
    width: 783px;
    height: 90px;
    margin: 0 auto;
    margin-bottom:20px;
}
.text__title{
    margin: 0;
    padding: 0;
    width: 637.01px;
    height: 90px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    color: #555555;
    text-align: center;
}