:root{
    --gutter: 15px;
}
*{
    box-sizing: border-box;
    font-family: ;
}
*, *:before,*:after{
    box-sizing: inherit;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.box {
    height: 700px;
    background: rgb(51,27,7);
background: linear-gradient(90deg, rgba(51,27,7,1) 0%, rgba(125,65,8,1) 100%);
}
.box_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:35px;
    flex-wrap: wrap;
    
}
.item {
    text-align: center;
    border: 2px solid red;
    
}
.icon {
}
.number {
    color:#eec8a8;
    font-size: 70px;
}
.text {
    color: rgb(149,92,44);
    font-family: sans-serif;
    margin-bottom: 25px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #fff;
    flex-wrap:nowrap;
}
.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
i.fa{
    font-size: 60px;
    color: #eec8a8;
}
/* @media screen and (max-width:976px){
    
    .col-lg-3{
        width: calc(55% - var(--gutter));
    }
}
@media screen and (max-width:768px) {

    .col-ml-12{
        width: calc(50% - var(--gutter));
    }
}
@media screen and (max-width:576px) {
    .col-sm-12{
        width: calc(100% - var(--gutter));
    }
} */