*{
    box-sizing: border-box;
    font-family: ;
}
.container{
    width: 1170;
    margin: 0 auto;
}
.box {
    height: 300px;
    background: rgb(51,27,7);
background: linear-gradient(90deg, rgba(51,27,7,1) 0%, rgba(125,65,8,1) 100%);
}
.box_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:35px;
}
.item {
    text-align: center;
}
.icon {
}
.number {
    color:#eec8a8;
    font-size: 70px;
}
.text {
    color: rgb(149,92,44);
    font-family: sans-serif;
    margin-bottom: 25px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #fff;
}
.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
i.fa{
    font-size: 60px;
    color: #eec8a8;
}
