@font-face {
    font-family: QuiteChocolatey;
    src: url(../font_face/Quite\ Chocolatey.ttf);
}
@font-face {
    font-family: Couture;
    src: url(../font_face/couture-bld.otf);
}
@font-face {
    font-family: PT Serif;
    src: url(../font_face/ofont.ru_PT\ Serif.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../font_face/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratB;
    src: url(../font_face/Montserrat-Bold.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 1020px;
    margin: 0 auto;
}
.header{
    margin: 0;
    background-color:#dd2211;
    min-height: 688px;
}
.logo{
    margin: 0;
        font-size: 89px;
        font-family: "QuiteChocolatey";
        color: rgb(255, 255, 255);
        line-height: 33px;
}
.items{
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}
.items ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
        font-size: 18px;
        font-family: "Montserrat";
        line-height: 22px;
}
.items ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.items ul li{
    margin: 0 15px 0 15px;
}
.sell{
    
    text-transform: uppercase;
    margin: 0;
    margin-top: 148px;
    font-size: 90px;
    font-family: "MontserratB";
    color: rgb(19, 14, 39);
    font-weight: bold;
    line-height: 80px;
}
.car{
    text-transform: uppercase;
    margin: 0;
        font-size: 90px;
        font-family: "MontserratB";
        color: #fff;
        font-weight: bold;
        line-height: 80px;
}
.lorem_title{
        font-size: 20px;
        font-weight: normal;
        font-family: "PT Serif";
        color: rgb(255, 255, 255);
        line-height: 28px;
        max-width: 490px;
        margin: 0;
        margin-top: 58px;
}
.items ul a:hover{
    color: #fff;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
}